<div class="demonstrator-group">
  <a class="button" {{action 'generateSheet'}}>Generate sheets</a>
  {{table-component rowIndecies=rowIndecies header=header body=(await body) addClass='demonstrator-table' onClickRowAction='evaluateEvent' clickable=true evaluateEvent=(action "evaluateEvent")}}
</div>
