<div class="demonstrator-group">
  {{table-component header=header body=body addClass='demonstrator-table' withoutnumber=false onClickRowAction='evaluateStudent' clickable=true evaluateStudent=(action "evaluateStudent")}}
</div>
