<div class="demonstrator-group">
  {{table-component rowIndecies=rowIndecies header=header body=(await body) addClass='demonstrator-table' onClickRowAction='evaluateEvent' clickable=true evaluateStudent=(action "evaluateEvent")}}
</div>
