<div class="directory-popup-settings-student">
    <label class="label">{{lab.description}}</label>
    <button type="button" disabled= {{not lab.isEntrytestFinal}}>Beugrójegy törlése</button>
    <button type="button" disabled= {{not lab.isReportFinal}}>Jegyzőkönyvjegy törlése</button>
    <button type="button" disabled= {{not lab.isLaboratoryFinal}}>Laborjegy törlése</button>
</div>
