<div class="form-group">
    <label class="directory-popup-label">{{lab.description}}</label>
    <button type="button" class='btn' disabled= {{not lab.isEntrytestFinal}}>Beugrojegy torlese</button>
    <button type="button" class='btn' disabled= {{not lab.isReportFinal}}>Jegyzokonyvjegy torlese</button>
    <button type="button" class='btn' disabled= {{not lab.isLaboratoryFinal}}>Laborjegy torlese</button>
</div>
