<div class="text label">Feladattípusok</div>
<div class="button-toggles">
  {{#each-in homeworkTypes as |key type|}}
    <button type="button" class="btn--toggle {{if type.checked 'active'}}" {{action 'checkType' key}}>
    {{type.name}}
  </button>
  {{/each-in}}
</div>
<button type="button" disabled= {{buttonDisabled}}>Feladattípus módosítása</button>
