<div class="form-group">
    <div class="form-check">
        {{#each-in homeworkTypes as |key type|}}
            <div class='btn-group' {{action 'checkType' key}} data-toggle="buttons">
                <label class="btn btn--toggle">
                    {{input type="checkbox" checked=type.checked}} <span class='form-check-label'>{{type.name}}</span>
                </label>
            </div>
        {{/each-in}}
    </div>
    <button type="button" class='btn' disabled= {{buttonDisabled}}>Feladattipus modositasa</button>
</div>
