<div class="text label">{{lab.description}}</div>
<button type="button" disabled= {{not lab.isEntrytestFinal}}>Beugrójegy törlése</button>
<button type="button" disabled= {{not lab.isReportFinal}}>Jegyzőkönyvjegy törlése</button>
<button type="button" disabled= {{not lab.isLaboratoryFinal}}>Laborjegy törlése</button>
