{{#each user.StudentRegistrations as |studentReg|}}
  {{directory-settings-student-registration StudentRegistration=studentReg}}
{{else}}
<div class="text">
  Ehhez a hallgatóhoz a rendszerben nincs szemeszter felvéve.
</div>
{{/each}}
