<div class="entry-test-list">
  {{#unless showSettings}}
    {{table-component header=header body=body withDelete=true withSettings=true openSettings=(action 'openSettings')}}
  {{/unless}}
  {{#if showSettings}}
    {{entry-test-creator entryTest=entryTest edit=true store=store closeSettings=(action "closeSettings")}}
  {{/if}}
</div>
