<div class="entry-test-creator">
  <div class="text label">Lab</div>
  <div class="lab-chooser">
    {{#power-select options=labs onchange=(action "selectLab") selected=selectedLab as |lab|}} {{lab.description}}
    {{/power-select}}
  </div>

  <div class="text label">Text</div>
  {{input type="type" value=entryTest.text placeholder="example text"}}


  <button type="button">Mentés</button>

  {{#if edit}}
    <button type="button" class="cancel" {{action 'closeSettings'}}>Cancel</button>
  {{/if}}
</div>
