<div class="entry-test-creator">
  <!--<div class="text label">Lab</div>
  <div class="lab-chooser">
    {{#power-select options=model.languages onchange=(action "selectLab") selected=entryTest.language as |lab|}} {{lab.name}}
    {{/power-select}}
  </div>-->

  <div class="text label">Szöveg</div>
  {{input type="text" value=question.text placeholder="beugrókérdés szövege"}}

  <button type="button" class='save' {{action 'saveSettings'}}>Mentés</button>

  <button type="button" class="cancel" {{action 'closeSettings'}}>Mégse</button>
</div>
