<div class="entry-test-creator">
  <!--<div class="text label">Lab</div>
  <div class="lab-chooser">
    {{#power-select options=model.languages onchange=(action "selectLab") selected=entryTest.language as |lab|}} {{lab.name}}
    {{/power-select}}
  </div>-->

  <div class="text label">Text</div>
  {{input type="text" value=question.text placeholder="question text"}}

  <button type="button" class='save' {{action 'saveSettings'}}>Save</button>

  <button type="button" class="cancel" {{action 'closeSettings'}}>Cancel</button>
</div>
