<div class="evaluation-group">
  <div class='text label'>javításra váró jegyzőkönyvek</div>
  {{table-component header=header body=body1 addClass='evaluation-table'}}

  <div class='text label'>általad javítandó jegyzőkönyvek</div>
  {{table-component header=header body=body2 addClass='evaluation-table'  onClickRowAction='evaluateStudent' clickable=true evaluateStudent=(action "evaluateStudent")}}

  <div class='text label'>általad véglegesített jegyzőkönyvek</div>
  {{table-component header=header body=body3 addClass='evaluation-table'  onClickRowAction='evaluateStudent' clickable=true evaluateStudent=(action "evaluateStudent")}}

  <div class='text label'>más javító által véglegesített jegyzőkönyvek</div>
  {{table-component header=header2 body=body4 addClass='evaluation-table'  onClickRowAction='evaluateStudent' clickable=true evaluateStudent=(action "evaluateStudent")}}
</div>
