<nav id="menu" class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <div class="navbar-brand logo">laboradmin</div>
    </div>

    <div class="collapse navbar-collapse  navbar-right">
        <p class="navbar-text">Hallgato Neve</p>

        <ul class="nav navbar-nav">
            {{#each menuItems as |item |}}
                <button type="button" class="btn btn-default navbar-btn">{{item}}</button>
            {{/each}}
        </ul>
    </div>
</nav>
