<div class="left">
  <div class="title"><span>{{title}}</span></div>
  <div class="submenu">
    <ul>
      {{#each subMenu as |menu|}}
        <li>
          <button type="button" class="submenu-text {{if (eq menu.key currentView) 'active'}}" {{action 'goToView' menu.key}}>
            <span>{{menu.description}}</span>
          </button>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
