<nav class="menu navbar navbar-default navbar-static-top">
    {{!-- <div class="navbar-header"> --}}
        <div class="navbar-brand logo menu-text">laboradmin</div>
    {{!-- </div> --}}

    <div class="pull-xs-right ">
        <ul class="nav navbar-nav">
            {{#each menuItems as |item |}}
                <button type="button" class="btn btn-default navbar-btn">{{item}}</button>
            {{/each}}
        </ul>
    </div>
</nav>
