<div class="notification-list">
  {{#unless showSettings}}
    {{table-component header=header body=body withDelete=true withSettings=true openSettings=(action 'openSettings')}}
  {{/unless}}
  {{#if showSettings}}
    {{notifications-creator notification=notification edit=true closeSettings=(action "closeSettings")}}
  {{/if}}
</div>
