@import "ember-cli-bootstrap-4/bootstrap"; // @import 'bootstrap';
@import "ember-power-select";
@import 'app/styles/mixins.scss';
@import 'app/styles/default.scss';
@import 'app/styles/menu.scss';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.main-content {
  .content {
    margin: 0 2%;
    padding-bottom: 2%;
    clear: both;
    overflow: hidden;
    background-color: #FFF;
    // background-repeat: repeat;
    // background-size: 50px 50px;
    // .left {
    &.directory:before {
      font-family: 'FontAwesome';
      content: '\f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 ';
      color: #748486;
      letter-spacing: 5px;
    }
    // }
    &.settings {
      // background-image: url("images/cogs.png");
    }

    &.statistics {
      // background-image: url("images/bar-chart.png");
    }

    &.student {
      // background-image: url("images/file.png");
    }

    .left {
      float: left;
      width: 25%;
      clear: none;
      text-align: left;
      background-color: $leftBackground;
      padding: 2% 2% 99999px;
      margin-bottom: -99999px;

      .title {
        color: white;
      }

      .submenu {
        ul {
          display: inline;

          li {
            list-style-type: none;
            padding-bottom: 5%;
            font-size: 0;

            a {
              display: inline-block;
              white-space: nowrap;
              padding-right: 5%;
              &.submenu-text {
                font-size: 18px;
                color: #FFF;
                text-align: left;
                font-weight: 100;
                text-transform: uppercase;
              }

              &.active {
                font-weight: 400;
                position: relative;
              }

              &:hover {
                color: white;
              }
            }

            .line {
              display: inline-block;
              padding-bottom: 1%;
              width: 70%;
              border-top-width: 3px;
              border-top-style: dotted;
              border-top-color: #FFF;
              font-size: 18px;
              color: #FFF;
              font-weight: 300;
            }
          }
        }
      }
    }

    .right {
      position: relative;
      margin: 0 0 0 25%;
      width: 75%;
      background-color: white;
      padding: 2% 2% 99999px;
      margin-bottom: -99999px;

      .directory {
        .directory-search-fields {
          margin: 0 auto;
          width: 50%;
          text-align: left;

          .directory-search-field {
            display: inline-block;
            text-align: left;
          }

          .directory-search-field-button {
            text-align: left;
          }
        }

        .directory-table {
          table {
            background: white;
          }
        }

        .directory-popup {
          width: 800px;

          .directory-popup-fields {
            margin-bottom: 10px;

            .directory-popup-field {
              margin: 0 auto;
              width: 100%;
              margin-bottom: 10px;

              input {
                display: inline-block;
                width: 70%;
              }

              button {
                margin-top: 0;
                margin-bottom: 2px;
                // width: 215px;
                width: 29%;
                display: inline-block;
              }
            }

            .directory-popup-form-button {
              margin: 0 auto;
              width: 99.6%;
            }

            .directory-popup-table {
              table {
                background: white;
              }
            }
          }

          .directory-popup-settings {
            border-top: thin solid black;
            margin: 0 auto;
            // width: 75%;
            text-align: left;
            margin-bottom: 10px;

            .directory-popup-settings-student {
              margin-top: 10px;
              width: 100%;

              button {
                margin-top: 0;
                margin-bottom: 2px;
                // margin-left: 10px;
                display: inline-block;
              }
            }

            .directory-popup-settings-evaluator {
              margin-top: 10px;

              .checkbox-container {
                margin-bottom: 10px;

                .btn-group {
                  text-align: left;
                  margin-bottom: 10px;
                  margin-left: 5px;

                  label {
                    width: 200px;
                    padding: 5px 0;
                  }
                }
              }

              button {
                margin: 0 auto;
                width: 100%;
              }
            }
          }
        }
      }

      .statistics {
        .statistics-content {
          margin-top: 25px;

          .statistics-table {
            margin: 0 auto;
            width: 75%;
            background: white;

            table {
              margin-top: 15px;
            }
          }
        }
      }

      .student {}

      .settings {
        .settings-table {
          table {
            tr {
              .td-left {
                input {
                  width: 510px;
                }

                label {
                  &.btn--toggle {
                    width: 510px;
                  }
                }

                textarea {
                  width: 510px;
                }
              }
            }
          }
        }
      }
    }
  }
}
