/*menu styling*/

nav#menu {
    background: #2a623d;
}
.navbar-brand.logo {
    color: white;
}
.navbar-default p.navbar-text {
    color: white;
}
.navbar-default .navbar-brand, .navbar-default:hover .navbar-brand {
    color: #ffffff;
}
.navbar-right {
    margin-right: 10px;
}
.navbar-btn {
    margin-right: 5px;
}

/*background styling*/

html {
    min-width: 768px;
    background-color: #f9f9fa;
}
body {
    background-color: #f9f9fa;
}

/*a, a:focus, a:hover{
    text-decoration: none;
    color: #000;
}*/
