$mobile-width: 600px; /* TODO: change if app is ready */
$medium-desktop-width: 1180px; /* TODO: change if app is ready */
$small-desktop-width: 1000px;

// default coloring:
$leftBackground: #7d8e90;
$background-color: white;

$error-color: red;
$error-background: lighten($error-color, 40);
$success-color: green;
$success-background: lighten($success-color, 60);
$darkgray: #748486;


$buttonOkActive: #7d8e90;
$buttonOkHover: #647476;
$buttonCancelActive: #808080;
$buttonCancelHover: #585858;
$buttonDisabled: #dddddd;


$menuBackgroundBlue: #12C8E3;
$menuBackgroundGreen: #8DBB00;
