$maincolor: #2A623D;
$menucolor: #2A623D;
$slytheringreen: #2A623D;
$oldbackground: #F9F9FA;
$lightgray: #D0D0D0;
$darkgray: #A0A0A0;
$backgroundBlue: #12C8E3;
$backgroundGreen: #8DBB00;
$leftBackground: #7d8e90;
$leftIcon: #748486;

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
}

select {
	background-color: transparent;
	font-size: 16px;
	color: black;
	border-color: black;
	padding: 5px;
	font-family: 'Roboto Slab', sans-serif;

	option {
		color: black;
	}
}

div {
	&.normal-label {
		font-weight: bold;
		font-size: 18px;
		color: #333;
	}

	&.popup-label {
		font-weight: bold;
		font-size: 18px;
		color: #333;
	}

	&.title {
		font-weight: 200;
		font-size: 54px;
		color: #000;
		text-align: left;
	}

	&.text {
		font-size: 16px;
		color: black;
		text-align: left;
		font-weight: 300;

		&.label {
			padding-top: 1%;
			color: #666;
			font-weight: 300;
		}

		&.long {
			text-align: justify;
		}
	}
}

button {
	display: inline-block;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 16px;
	border-radius: 0.25rem;
	color: black;
	margin-top: 15px;
	font-family: 'Roboto Slab', sans-serif;

	&.active,
	&:active {
		box-shadow: none;
	}

	&:hover {
		box-shadow: none;
		background: white;
		color: $maincolor;
	}

	&:disabled {
		background: $darkgray;
		border-color: $darkgray;
		pointer-events: none;
	}
}

label {
	&.label {
		font-weight: bold;
		font-size: 20px;
		color: #666;
	}

	&.btn--toggle {
		margin-bottom: 0;
		margin-top: 0;
		display: inline-block;
		font-weight: 400;
		line-height: 1.25;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		border: 1px solid transparent;
		padding: 0.5rem 1rem;
		font-size: 16px;
		border-radius: 0.25rem;
		background: white;
		color: $maincolor;
		border-color: black;

		.text-padding {
			padding-right: 12px;
		}

		&:before {
			font-family: 'FontAwesome';
			color: black;
			content: '\f204';
		}

		&.active,
		&:active {
			&:before {
				content: '\f205';
			}
		}

		&:disabled {
			pointer-events: none;
		}

		input {
			position: absolute;
			clip: rect(0,0,0,0);
			pointer-events: none;
		}
	}
}



input {
	display: block;
	width: 25%;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #000;
	background-color: transparent;
	background-image: none;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
	outline: none;
	resize: none;

	&:focus {
		border-color: $maincolor;
	}
}

textarea {
	display: block;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #000;
	background-color: white;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
	width: 90%;
	resize: vertical;
	outline: none;

	&:focus {
		border-color: $maincolor;
	}
}

body {
	font-family: 'Roboto Slab', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $backgroundBlue;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, $backgroundBlue , $backgroundGreen);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, $backgroundBlue, $backgroundGreen);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, $backgroundBlue, $backgroundGreen);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, $backgroundBlue , $backgroundGreen);
	/* Standard syntax */
}

html {
	font-family: 'Roboto Slab', sans-serif;
	background: $backgroundBlue;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, $backgroundBlue , $backgroundGreen);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, $backgroundBlue, $backgroundGreen);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, $backgroundBlue, $backgroundGreen);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, $backgroundBlue , $backgroundGreen);
	/* Standard syntax */
	// scrollbar jump trick
	// TODO find better solution
	// overflow-x: scroll;
	overflow-y: scroll;
}
// EMBER POWER SELECT

.ember-power-select:not(.multiple) .ember-power-select-trigger {
	overflow: hidden;
	width: 150px;
}

.ember-power-select {
	border-radius: 0;
}

span.ember-power-select-selected-item {
	// padding: 16%;
	margin-right: 1%;
	line-height: 16px;
}

.ember-power-select-dropdown {
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	width: 150px;
	@include box-shadow(0 0 25px -5px #999);
}

.ember-power-select-trigger[aria-disabled=true] {
	cursor: default;
	background-color: transparent;
	color: white;
	@include opacity(.5);

	.ember-power-select-status-icon {
		&:after {
			color: white !important;
		}
	}
}

.ember-power-select-status-icon {
	position: relative;
	border: none;
	float: right;

	&:after {
		font-family: 'FontAwesome';
		content: "\f078";
		color: white;
	}
}

.ember-basic-dropdown--below {
	.ember-power-select-status-icon {
		@include transform(none);

		&:after {
			font-family: 'FontAwesome';
			content: "\f077";
		}
	}
}

.ember-basic-dropdown--above {
	.ember-power-select-status-icon {
		@include transform(none);

		&:after {
			font-family: 'FontAwesome';
			content: "\f077";
		}
	}
}

.ember-basic-dropdown--in-place .ember-power-select-dropdown,
.ember-power-select-dropdown.ember-basic-dropdown--above,
.ember-power-select-dropdown.ember-basic-dropdown--below {
	border: none;
	min-width: 130px !important;
}

.ember-power-select-search {
	input {
		padding: 10px;
		outline: none;
		border: 1px solid #999;
		@include border-radius(3px);
	}
}

.ember-power-select-option {
	padding: 5px 8px;

	&.ember-power-select-option--no-matches-message {
		color: $darkgray;
		font-style: italic;
	}
}

.ember-power-select-options[role="listbox"] {
	background-color: transparent;
	padding: 3%;
}

.ember-power-select-trigger {
	border: 1px solid white;
	color: white;
	background-color: transparent;
	border-radius: 0;
}

.ember-basic-dropdown--focus-inside .ember-power-select-trigger,
.ember-power-select-trigger:focus {
	border-color: white;
}
