.ember-power-select:not(.multiple) .ember-power-select-trigger {
  overflow: hidden;
}

.ember-power-select {
  border-radius: 0;
}

.ember-basic-dropdown-trigger,
.ember-power-select-trigger {
  max-width: 200px;
}

span.ember-power-select-selected-item {
  padding: 5% 5% 5% 2%;
  margin-right: 1%;
  line-height: 16px;
}

.ember-power-select-dropdown {
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}

.ember-power-select-trigger[aria-disabled=true] {
  cursor: default;
  background-color: transparent;
  color: black;
  @include opacity(.5);

  .ember-power-select-status-icon {
    &:after {
      color: black !important;
    }
  }
}

.ember-power-select-status-icon {
  position: relative;
  border: none;
  float: right;

  &:after {
    font-family: 'FontAwesome';
    content: "\f078";
    color: black;
  }
}

.ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
  &:after {
    font-family: 'FontAwesome';
    content: "\f077";
    color: black;
  }
}

.ember-power-select-trigger:after {
  .ember-power-select-status-icon {
    &:after {
      font-family: 'FontAwesome';
      content: "\f077";
    }
  }
}

.ember-basic-dropdown--in-place .ember-power-select-dropdown,
.ember-power-select-dropdown.ember-basic-dropdown--above,
.ember-power-select-dropdown.ember-basic-dropdown--below {
  border: none;
  min-width: 150px !important;
}

.ember-power-select-search {
  input {
    padding: 10px;
    outline: none;
    border: 1px solid #999;
  }
}

.ember-power-select-option {
  padding: 5px 8px;

  &.ember-power-select-option--no-matches-message {
    color: $darkgray;
    font-style: italic;
  }
}

.ember-power-select-options[role="listbox"] {
  background-color: transparent;
  padding: 3%;
}

.ember-power-select-trigger {
  border: 1px solid black;
  color: black;
  background-color: transparent;
  border-radius: 0;
}

.ember-basic-dropdown--focus-inside .ember-power-select-trigger,
.ember-power-select-trigger:focus {
  border-color: black;
}
