.main-content {
  .content {
    .left {
      background-position: top center;
      background-position-y: 46px;
    }
    &.settings {
      .left {
        background-repeat: repeat;
        background-size: 50px 50px;
        background-image: url("images/cogs.svg");
      }
    }

    &.directory {
      .left {
        background-repeat: repeat;
        background-size: 50px 50px;
        background-image: url("images/users.svg");

        &:before {
          // font-family: 'FontAwesome';
          // content: '\f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 \f0c0 ';
          // color: #748486;
          // letter-spacing: 5px;
        }
      }
    }

    &.statistics {
      .left {
        background-repeat: repeat;
        background-size: 50px 50px;
        background-image: url("images/bar-chart.svg");
      }
    }

    &.entry-test {
      .left {
        background-repeat: repeat;
        background-size: 50px 50px;
        background-image: url("images/pencil.svg");
      }
    }

    &.dashboard {
      .left {
        background-repeat: repeat;
        background-size: 50px 50px;
        background-image: url("images/tachometer.svg");
      }
    }

    &.student {
      .left {
        background-repeat: repeat;
        background-size: 50px 50px;
        background-image: url("images/graduation-cap.svg");
      }
    }

    &.notification {
      .left {
        background-repeat: repeat;
        background-size: 50px 50px;
        background-image: url("images/bell-o.svg");
      }
    }

    &.demonstrator {
      .left {
        background-repeat: repeat;
        background-size: 50px 50px;
        background-image: url("images/tasks.svg");
      }
    }

    &.sql {
      .left {
        background-repeat: repeat;
        background-size: 50px 50px;
        background-image: url("images/terminal.svg");
      }
    }

    &.evaluator {
      .left {
        background-repeat: repeat;
        background-size: 50px 50px;
        background-image: url("images/book.svg");
      }
    }
  }
}
