.login {
  background: white;
  margin: 0 auto;
  width: 30%;
  min-width: 290px;
  padding: 2em;
  box-sizing: border-box;
  @media (max-width: $mobile-width) {
    width: 100%;
  }
  text-align: center;

  .top {
    input {
      margin: 0 auto;
      margin-top: 1em;
      min-width: 200px;
    }
  }

  .bottom {
    margin-top: 3%;
    padding-top: 1%;
    border-top: 1px solid black;
  }
}
