.menu-content > * { /* > * because of ember view */
  $menuBackgroundColor: $menuBackgroundBlue;
  /* For browsers that do not support gradients */
  $menuBackgroundColor: -webkit-linear-gradient(left, $menuBackgroundBlue , $menuBackgroundGreen);
  /* For Safari 5.1 to 6.0 */
  $menuBackgroundColor: -o-linear-gradient(right, $menuBackgroundBlue, $menuBackgroundGreen);
  /* For Opera 11.1 to 12.0 */
  $menuBackgroundColor: -moz-linear-gradient(right, $menuBackgroundBlue, $menuBackgroundGreen);
  /* For Firefox 3.6 to 15 */
  $menuBackgroundColor: linear-gradient(to right, $menuBackgroundBlue , $menuBackgroundGreen);
  /* Standard syntax */

  background: ghostwhite;
  padding: 0.7em;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  @include box-shadow(0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12));
  @media (max-width: $mobile-width) {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .logo {
    max-width: 100px;

    img {
      width: 100%;
    }
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
  .menu-button {
    border: 1px solid white;
    background-color: transparent !important;
    color: black;
    margin-bottom: 0.5em;
    display: none;
    @media (max-width: $mobile-width) {
      display: block;
    }
  }

  .menu-text {
    color: black;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;

    &.user {
      font-weight: 300;
    }
  }
  nav {
    flex: 1 1 0;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @media (max-width: $mobile-width) {
      justify-content: center;
      width: 100%;
      flex: 1 1;
      &.hidden {
        display: none;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @media (max-width: $mobile-width) {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
      }

      &.right {
        margin-left: auto;
        padding-left: 0;
        @media (max-width: $medium-desktop-width) {
          margin-left:0;
          padding-left: 5px
        }
      }

      li {
        padding: 0 5px;
        display: block;
        white-space: nowrap;
        box-sizing: border-box;

        &.wide {
          min-width: 200px;
          -webkit-user-select: none;
          /* Chrome all / Safari all */
          -moz-user-select: none;
          /* Firefox all */
          -ms-user-select: none;
          /* IE 10+ */
          user-select: none;

          .ember-power-select-status-icon {
            &:after {
              color: black;
            }
          }

          .ember-power-select-trigger {
            border: 1px solid white;
            border-radius: 0;
            color: black;
          }
        }

        .menu-text {
          padding-top: 1%;
          font-weight: 400;
        }

        .mobile-only {
          display:none;
          @media (max-width: $mobile-width) {
            display: inline;
          }
        }

        &.username {
          padding-bottom: 8px;
        }

        button {
          border: none;
          background: transparent !important;
          outline: none;
          cursor: pointer;
          box-shadow: none;
          padding-top: 5%;
          padding-left: 10px;
          padding-right: 10px;
          margin: 0;
          color: black;
          text-decoration: none;

          &.bar-chart {
            &:before {
              content: '\f080';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.users {
            &:before {
              content: '\f0c0';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.tasks {
            &:before {
              content: '\f0ae';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.dashboard {
            &:before {
              content: '\f0e4';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.file {
            &:before {
              content: '\f15b';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.book {
            &:before {
              content: '\f02d';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.graduation-cap {
            &:before {
              content: '\f19d';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.terminal {
            &:before {
              content: '\f120';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.sign-out {
            &:before {
              content: '\f08b';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.sign-in {
            &:before {
              content: '\f090';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.bell-o {
            &:before {
              content: '\f0a2';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.pencil {
            &:before {
              content: '\f040';
              font-family: 'FontAwesome';
              color: black;
              padding-right: 5px;
            }
          }

          &.cogs {
            &:before {
              content: '\f085';
              font-family: 'FontAwesome';
              color: black;
            }
          }
        }
      }
    }
  }
}
