.main-content {

  .content {
    background-color: white;

    .right {
      flex: 1;
      background-color: white;
      padding: 2em;
      box-sizing: border-box;

      .demonstrator {
        .evaluation-student {
          input, button {
            margin-left: -1%;
          }

          button {
            &.btn--toggle {
              display: block;
            }
            &.cancel {
              margin-left: 1%;
            }
          }
        }
      }

      .directory {
        button {
          &.btn--toggle {
            margin-left: -1%;
            display: block;
          }
        }
        input, button {
          margin-left: -1%;

          &.cancel {
            margin-left: 1%;
          }
        }
        .directory-settings-student {
          .student-registration {
            margin-left: -1%;
            .text {
              &.label {
                margin-left: 1%;
                color: black;
              }
            }
            .actions {
              button {
                margin-left: 1%;
              }
            }
          }
        }
        .directory-settings-evaluator {
          .button-toggles {
            display: block;
          }

          button {
            display: block;
          }

        }
        .directory-fields {
          margin-top: 1%;

          .directory-field {
            input {
              margin-top: 1%;
            }
          }
        }
      }

      .settings {
        button {
          &.btn--toggle {
            margin-left: -1%;
          }
        }
        input, button {
          margin-left: -1%;
        }
      }

      .statistics {
        .statistics-content {
          margin-top: 1%;
        }
      }

      .student {
        .tagSelector{
          margin-left: -1%;
        }
      }

      .entry-test {
        .entry-test-creator {
          input, .save {
            margin-left: -1%;

          }
        }
      }
      .dashboard {
        .dashboard-creator{
          input{
            width: 18%;
          }
          .labChooser{
            margin-left: -1%;
            margin-top: 1%;
          }
          .timeChooser{
            margin-left: -1%;
            margin-top: 1%;
          }
          .teacherChooser{
            margin-left: -1%;
            margin-top: 1%;
          }
          .roomChooser{
            margin-left: -1%;
            margin-top: 1%;
          }
        }
      }

      .notification {
        .notification-creator {
          input {
            margin-left: -1%;
          }
          .toggle-buttons {
            button {
              &.btn--toggle {
                display: block;
                margin-left: -1%;
              }
            }
          }
        }
      }
    }
  }
}
