$leftBackground: #7d8e90;
$backgroundBlue: #12C8E3;
$backgroundGreen: #8DBB00;
$background-color: $backgroundBlue;
/* For browsers that do not support gradients */
$background-color: -webkit-linear-gradient(left, $backgroundBlue , $backgroundGreen);
/* For Safari 5.1 to 6.0 */
$background-color: -o-linear-gradient(right, $backgroundBlue, $backgroundGreen);
/* For Opera 11.1 to 12.0 */
$background-color: -moz-linear-gradient(right, $backgroundBlue, $backgroundGreen);
/* For Firefox 3.6 to 15 */
$background-color: linear-gradient(to right, $backgroundBlue , $backgroundGreen);
/* Standard syntax */
$error-color: red;
$error-background: lighten($error-color, 40);

// from old config
$darkgray: #748486;
$buttonOkActive: #52c16d;
$buttonOkHover: #229f3a;
$buttonCancelActive: #808080;
$buttonCancelHover: #585858;
$buttonDisaled: #dddddd;


#wholeapp.colorful {
  @import 'app/styles/colors/forall.scss';

  .btn--toggle {
    background: white;
    &:hover {
      background: white;
    }
  }
}
