.main-content {
  .content {
    .left {
      background-color: $leftBackground;
      .title span {
        background-color: $leftBackground;
      }
      .submenu ul li button span {
        background: $leftBackground;
      }
    }
  }
}

& {
  background: $background-color;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

.login .bottom.error {
  input {
    border-color: $error-color;
    color: $error-color;
    background-color: $error-background;
  }
  .error-box {
    color: $error-color;
    background-color: $error-background;
    border: $error-color solid 1px;
  }
}

button {
  background: $buttonOkActive;
  &:hover {
    background: $buttonOkHover;
  }
}
textarea:focus {
  border-color: $buttonOkActive;
}