$leftBackground: #B00;
$background-color: lighten($leftBackground, 30);
$error-color: red;
$error-background: lighten($error-color, 40);

// from old config
$darkgray: #A0A0A0;
$buttonOkActive: lighten($leftBackground, 10);
$buttonOkHover: lighten($buttonOkActive, 10);
$buttonCancelActive: #808080;
$buttonCancelHover: #585858;
$buttonDisaled: #dddddd;

#wholeapp.red {
  @import 'app/styles/colors/forall.scss';
}