<div class="content dashboard">
  {{left-menu title="Mérések" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}

  <div class="right">
    <div class="dashboard">
      {{#if (eq currentView 'creator')}}
        {{dashboard-creator}}
      {{else}}
        {{dashboard-view}}
      {{/if}}
    </div>
  </div>
</div>
