<div class="content demonstrator">
  {{left-menu title="Demonstrátor" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <div class="demonstrator">
      {{#unless evaluate}}
        {{demonstrator-group currentLab=currentView evaluateStudent=(action 'evaluateStudent')}}
      {{/unless}}
      {{#if evaluate}}
        {{evaluation-student student=evaluate mode='demonstrator' cancel=(action 'cancel')}}
      {{/if}}
    </div>
  </div>
</div>
