<div class="content entry-test">
  {{left-menu title="Beugrók" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <div class="entry-test">
      {{#if (eq currentView 'creator')}}
        {{entry-test-creator model=model store=store goToView=(action 'goToView')}}
      {{else}}
        {{entry-test-view model=model store=store}}
      {{/if}}
    </div>
  </div>
</div>
