<div class="content entry-test">
  {{left-menu title="Beugrók" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <div class="entry-test">
      {{entry-test-view model=model exerciseCategory=currentView question=question}}
    </div>
  </div>
</div>
