<div class="content">
  {{left-menu title="Error"}}
  <div class="right">
    <h1>Error</h1>
    <p>Please, try it later!</p>
    <p>If the error is showing up several times report it.</p>
    <h2>Hiba történt</h2>
    <p>Kérem, próbálja meg később!</p>
    <p>Ha a hiba már nem először jelentkezett, kérem jelentse a hibát!</p>
  </div>
</div>
