<div class="content error-page">
  {{left-menu title="Error"}}
  <div class="right">
    <div class="error-page">

        <div class="title news">Error</div>
        <div class="text"> Please, try it later!</div>
        <div class="text">If the error is showing up several times report it.</div>
        <div class="title news">Hiba történt</div>
        <div class="text">Kérem, próbálja meg később!</div>
        <div class="text">Ha a hiba már nem először jelentkezett, kérem jelentse a hibát!</div>
    </div>
  </div>
</div>
