<div class="content evaluator">
  {{left-menu title="Javító" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <div class="evaluator">
      {{#unless evaluate}}
        {{evaluation-group currentLab=lab1 evaluateStudent=(action 'evaluateStudent')}}
      {{/unless}}
      {{#if evaluate}}
        {{evaluation-student student=evaluate mode='evaluator' cancel=(action 'cancel')}}
      {{/if}}
    </div>
  </div>
</div>
