<div class="login">
  <div class="top">
    {{input type="type" value=username placeholder="username" }}
    {{input type="type" value=password placeholder="password" }}
    <button type="button" name="button">Login</button>
  </div>
  <div class="bottom">
    <button type="button" name="button">Login with BME account</button>
  </div>

</div>
