<div class="content notification">
  {{left-menu title="Hírek"}}
  <div class="right">
    {{#each model.news as news}}
      <div class="small">{{moment news.published 'YYYY.MM.DD.'}}</div>
      <h1>{{news.title}}</h1>
      <p>{{news.text}}</p>
    {{/each}}
    {{#if model.news.lenght eq 0}}
      <h1>Jelenleg nincsenek hírek</h1>
    {{/if}}
  </div>
</div>
