<div class="content notification">
  {{left-menu title="Hírek"}}
  <div class="right">
    {{#each model as |news id|}}
      <div class="small">{{news.publishedFormatted}}</div>
      <h1>{{news.title}}</h1>
      <p>{{news.text}}</p>
    {{/each}}
    {{#if model.lenght eq 0}}
      <h1>Jelenleg nincsenek hírek</h1>
    {{/if}}
  </div>
</div>
