<div class="content notification">
  {{left-menu title="Hirdetmények" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <div class="notification">
      {{#if (eq currentView 'creator')}}
        {{notifications-creator}}
      {{else}}
        {{notifications-view}}
      {{/if}}
    </div>
  </div>
</div>
