<div class="content notification">
  {{left-menu title="Hírek szerkesztése" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <div class="notification">
      {{#if (eq currentView 'creator')}}
        {{notifications-creator model=model goToView=(action 'goToView')}}
      {{else}}
        {{notifications-view model=model}}
      {{/if}}
    </div>
  </div>
</div>
