<div class="content dashboard">
  {{left-menu title="Semester" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}

  <div class="right">
    <div class="dashboard">
      {{#if (eq currentView undefined)}}
        Choose one semester from left.
      {{else}}
        Selected semester:
      {{/if}}
    </div>
  </div>
</div>
