<div class="content dashboard">
  {{left-menu title="Semester" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}

  <div class="right">
    <div class="dashboard">
      {{#if (eq currentView undefined)}}
        <div class="text">
          Choose one semester from left.
        </div>
      {{else}}
        <div class="text label">Description</div>
        <p>{{currentView.description}}</p>
        <div class='text label'>Activate semester</div>
        {{#if currentView.active}}
          <div class="text">
            Activated
          </div>
        {{else}}
          <div class="text">
            Not activated.
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
