<div class="content sql">
  <div class="left">
    <div class="title">SQL</div>
  </div>
  <div class="right">
    <div class="sql">
      {{textarea cols="9" rows="9" placeholder="SQL query"}}

      <button type="button">Run</button>
    </div>
  </div>
</div>
