<div class="left statistics">
    <div class="title">Statisztikák</div>
</div>
<div class='right'>
    <div class='statistics'>
        <div class="statistics-content">
            <div class='text'>azok az értékelők, akiknél vannak szabad jegyzőkönyvek</div>
            {{table-component header=model.header2 body=model.body2 addClass='statistics-table' withoutnumber=false}}
        </div>
        <div class="statistics-content">
            <div class='text'>azok az értékelők, akiknél vannak lefoglalt, de nem végleges jegyzőkönyvek</div>
            {{table-component header=model.header2 body=model.body2 addClass='statistics-table' withoutnumber=false}}
        </div>
        <div class="statistics-content">

            <div class='text'>azok a mérésvezetők, akiknél már van kijavított jegyzőkönyv, de még nem véglegesítették a jegyeket (tehát a diák nem látja)</div>
            {{table-component header=model.header1 body=model.body1 addClass='statistics-table' withoutnumber=false}}
        </div>
    </div>
</div>

{{!-- # TODO sorra kattintas eseten lehetne mailto vagy vagolapra az illeto email cime --}}
