<div class='middle'>
    <div class='statistics'>
        <div class='statistics-title'>Statisztikak</div>
        <div class='statistics-text'>azok az ertekelok, akiknel vannak lezaratlan jegyzokonyvek</div>
        {{statistics-table header=header1 body=body1}}

        <div class='statistics-text'>azok az ertekelok, akiknel vannak lefoglalt, de nem vegleges jegyzokonyvek</div>
        {{statistics-table header=header1 body=body1}}

        <div class='statistics-text'>azok a meresvezetok, akiknel mar van kijavitott jegyzokonyv, de meg nem veglegesitettek a jegyeket (tehat a diak nem latja)</div>
        {{statistics-table header=header2 body=body2}}

    </div>
</div>

# TODO sorra kattintas eseten lehetne mailto vagy vagolapra az illeto email cime
