<div class="middle">
    {{navigation-menu menu=menu user=model.name neptun=model.neptun goToLab=(action "goToLab")}}
    {{#if labKey}}
        {{student-laboratory result=(get model.results labKey) selectCommit=(action "selectCommit")}}
    {{else}}
        <div class="title">Válassz egy labort!</div>
    {{/if}}
</div>
