<div class="content student">
  {{left-menu title="Hallgató" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <div class="student">
      <div class="student-lab-content">
        {{#if currentView}} {{student-laboratory result=(get model.results currentView) selectCommit=(action "selectCommit")}}
        {{else}}
          <div class="title">Válassz egy labort!</div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
